* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #191A1D;
  color: #FFF;
}


/*** #33323B***/
/*** CollectionApp ***/
.collection-header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #000;
  color: #FFF;
  
}
.collection-ground {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 50px;
  flex-wrap: wrap;
}
.collection-form {
  background-color: #33323B;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
  height: 354px;
  flex: 0 0 400px;
  margin: 50px;
  padding: 10px;
  position: relative;
}
.collection-form input[type="text"], .collection-form textarea {
  width: 360px;
  height: 30px;
  display: block;
  margin: 10px 0;
  font-size: 12px;
  line-height: 30px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  color: #000;
}
.collection-form input[type="submit"] {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  border: none;
  background-color: #191A1D;
  color: #FFF;
  font-size: 60px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7);
  margin-left: -40px;
  margin-top: -40px;
  cursor: pointer;
  transition: all .5s linear;
}

/*** CollectionItem ***/
.collection-item {
  background-color: #33323B;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
  width: 400px;
  height: 374px;
  flex: 0 0 400px;
  margin: 50px;
}
.item-frame {
  position: relative;
  width: 400px;
  height: 300px;
}
.item-frame iframe {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  transform: scale(.5)
}
.item-introduction {
  position: relative;
  padding: 10px;  
}
.item-introduction .item-decription {
  font-size: 13px;
  color: #CCC;
}
.item-introduction hr {
  margin: 5px 0;
  width: 85%;
}
.item-link {
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #FFF;
  text-align: center;
  background-color: #191A1D;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7);
  text-decoration: none;
}





