/*** 公共样式 ***/
body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, p, form {
  margin: 0;
}
td, th, ul, ol {
  padding: 0;
  list-style: none;
}
body {
  padding: 0;
  font-family: "Microsoft YaHei";
}
div {
  display: block;
}
a {
  text-decoration: none;
  outline: 0 none;
}
img {
  display: block;
  border: none;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}

/*** Header ***/
#fn-header {
  position: relative;
  font-size: 21px;
  background-color: #333;
  display: block;
  height: 60px;
  z-index: 3;
}
.nav-box {
  padding: 0;
  margin: 0 auto;
  height: 60px;
  width: 1200px;
  position: relative;
  color: #DBDBDB;
}
.nav-box h3 {
  height: 60px;
  width: 122px;
  background: url(./drawable/header_logo.png);
  float: left;
  margin: 0 10px;
  cursor: pointer;
}
.nav-box h3 a {
  height: 100%;
  overflow: hidden;
  line-height: 300px;
  display: block;
}
.nav-box ul  {
  display: block;
  float: left;
  margin-left: 60px;
  height: 60px;
  width: 900px;
}
.nav-box ul li {
  float: left;
  width: 160px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: relative;
}
.nav-box ul li a {
  color: #DBDBDB;
  font-weight: bold;
  font-size: 21px;
}
.nav-box ul li .sub-nav {
  position: absolute;
  padding-top: 10px;
  width: 100%;
  z-index: 4;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all .5s ease;
}
.nav-box .sub-nav a {
  display: block;
  font-size: 14px;
  color: #FFF;
  font-weight: normal;
  line-height: 2.8;
  transition: all .5s ease;
}
.nav-box .sub-nav a:hover {
  color: #F7DC4D;
  text-decoration: underline;
}
.nav-box .sub-nav-bg {
  position: fixed;
  top: 60px;
  left: 0;
  opacity: 0;
  background-color: #1D1B2D;
  width: 100%;
  height: 0;
  transition: all .5s ease;
}
.nav-box .sub-nav-bg:hover + ul li .sub-nav {
  opacity: 1;
  height: 245px;
}
.nav-box ul:hover li .sub-nav {
  opacity: 1;
  height: 245px;
}
.nav-box ul:hover + .sub-nav-bg {
  opacity: .7;
  height: 245px;
}

/*** Banner ***/
#fn-banner {
  position: relative;
  width: 100%;
  height: 450px;
  background: url(./drawable/banner.jpg);
  z-index: 2;
}
.banner-link-box {
  width: 1400px;
  height: 134px;
  position: absolute;
  left: 50%;
  bottom: -53px;
  margin-left: -700px;
  background-color: red;
  box-shadow: 0 8px 11px rgba(0, 0, 0, .2);
}
.banner-link-list li {
  width: 240px;
  height: 134px;
  float: left;
  text-align: center;
  font-weight: bold;
}
.banner-link-list li a {
  display: block;
  height: 100%;
  position: relative;
}
.link-icon {
  background: url(./drawable/icon_spr.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  width: 42px;
  height: 42px;
}
.banner-link-box .cn {
  font-size: 30px;
  color: #FFF;
  line-height: 134px;
  display: inline-block;
  vertical-align: -4px;
}
.icon-download {
  width: 55px;
  height: 62px;
  background-position: 0 0;
  position: relative;
  vertical-align: -31px;
}
.icon-arrow {
  width: 26px;
  height: 30px;
  background-position: -95px -16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -13px;
}
.icon-lottery {
  background-position: -488px -8px;
}
.icon-newbee {
  background-position: -169px -9px;
}
.icon-video {
  background-position: -326px -3px;
}
.icon-act {
  background-position: -414px -1px;
  height: 44px;
}
#download-btn {
  width: 440px;
  line-height: 134px;
  background-color: #F9CF2F;
}
#download-btn a {
  color: #333;
}
#download-btn .f {
  display: inline-block;
  width: 160px;
  text-align: center;
  height: 60px;
  line-height: 20px;
  vertical-align: -31px;
}
#download-btn .d-cn {
  font-size: 38px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
#download-btn .en {
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-size: 18px;
}
#gray-btn {
  background-color: #EB9257;
}
#live-btn {
  background-color: #1AC2FE;
}
#video-btn {
  background-color: #611DB2;
}
#act-btn {
  background-color: #D93E5E;
}
.banner-link-list li, .banner-link-list li a, .banner-link-list li .link-icon, .banner-link-list li:hover a, .banner-link-list li:hover .link-icon {
  transition: all .2s linear;
}
.banner-link-list li:hover {
  filter: saturate(1.3);
}
.banner-link-list li:hover a {
  transform: translateY(-5px);
}
.banner-link-list li:hover .link-icon {
  transform: rotate(-25deg);
}
.banner-link-list li:hover .icon-download {
  transform: rotate(0deg);
}
.banner-link-list li:hover .icon-arrow {
  transform: rotate(0deg);
  animation: up-down 1s ease both infinite;
}
@keyframes up-down {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

/*** Activity ***/
#fn-activity {
  background: linear-gradient(to bottom, #DFC7F1 0px, #F5F5F5 400px);
}
.content {
  width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  font-size: 14px;
  position: relative;
  min-height: 800px;
}
.clearfix::after {
  content: ' ';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.page-position {
  padding: 93px 0 36px;
  line-height: 20px;
  color: #333;
}
.icon-house {
  width: 16px;
  height: 14px;
  margin: -4px 10px 0 0;
  background: url(./drawable/common.png) no-repeat;
  background-position: 0 0;
  display: inline-block;
  vertical-align: middle;
}
.activity-nav li {
  width: 117px;
  height: 42px;
  line-height: 42px;
  font-size: 18px;
  font-weight: bold;
  float: left;
  text-align: center;
  cursor: pointer;
  margin-right: 15px;
}
.comm {
  background: url(./drawable/common.png) no-repeat;
}
.activity-nav .comm {
  background-position: -208px -276px;
  color: #FFF;
}
.activity-list {
  width: 1500px;
  padding-top: 40px;
}
.activity-list li {
  width: 407px;
  background-color: #FFF;
  padding: 10px;
  float: left;
  margin: 0 60px 60px 0;
  line-height: 32px;
  position: relative;
  color: #6D6C6A;
  transition: all .3s linear;
}
.activity-img {
  font-size: 16px;
  font-weight: bold;
  color: #3E3E3E;
}
.activity-img img {
  width: 407px;
  height: 234px;
}
.activity-img .activity-status {
  width: 97px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #FFF;
  font-weight: normal;
  background-position: -335px -276px;
}
.activity-collection {
  position: absolute;
  top: 245px;
  right: 10px;
  color: #F5843E;
  cursor: pointer;
}
.icon-star {
  width: 17px;
  height: 17px;
  background-position: -208px -328px;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 5px 0 0;
}
.activity-collection:hover {
  text-decoration: underline;
}
.activity-list li p {
  width: 320px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}
.activity-list li p.activity-time {
  color: #a6a6a6;
}
.activity-list li:hover {
  transform: translateY(-15px);
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}